body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #32cd32; /* LimeGreen */
    padding: 10px;
    border-bottom: 2px solid #006400; /* DarkGreen */
}

header img {
    display: block;
    margin: 0 auto 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #d3d3d3; /* LightGray */
    border-radius: 10px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #006400; /* DarkGreen */
    font-weight: bold;
    padding: 10px 20px;
    display: block;
    border-radius: 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #b0c4de; /* LightSteelBlue */
}

main {
    padding: 20px;
    background-color: #e0f7fa; /* LightCyan */
    border: 1px solid #00ced1; /* DarkTurquoise */
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #32cd32; /* LimeGreen */
    border-top: 2px solid #006400; /* DarkGreen */
    color: #fff;
}

.current-time {
    font-size: 1.2em;
    margin-top: 10px;
}

/* Új stílus hozzáadása */
.welcome-text {
    color: #ffd700; /* Gold */
}

